.bi {
	vertical-align: -.125em;
	fill: currentColor;
  }

  .bd-mode-toggle {
	z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
	display: block !important;
  }
  .b-example-divider {
    width: 100%;
    height: 3rem;
  }